[user]
  email = jay@conton.io
  name = Jay Contonio

[gpg]
  format = ssh

[commit]
  gpgsign = true

[pull]
  rebase = true

[core]
  editor = nvim
[fetch]
  prune = true

[init]
  defaultBranch = main
