[user]
  email = jay@conton.io
  name = Jay Contonio
  signingkey = {{ onepasswordRead "op://Personal/hgn3kfyicofid75n65mvxh7p2y/public key" }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
  allowedSignersFile = /home/jcontonio/.ssh/allowed_signers

[commit]
  gpgsign = true

[pull]
  rebase = true

[core]
  editor = nvim
[fetch]
  prune = true

[init]
  defaultBranch = main

[credential "https://github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential
