[user]
  email = jay@conton.io
  name = Jay Contonio

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[pull]
  rebase = true

[core]
  editor = nvim
[fetch]
  prune = true

[init]
  defaultBranch = main
